.event {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
  padding: 0;
}

.event .imageTitle {
  position: relative;
}

.event img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  height: 30vh;
  object-fit: cover;
}

.event .name {
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
  padding: 1%;
  padding-left: 4%;
  width: 100%;
  font-size: 30px;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.event hr {
  border: 5px solid rgb(167, 166, 166);
  margin: 0;
}

.event .info, .event .rsvp {
  padding: 4% 7%;
}

.event .details p, .event .more {
  color: indigo;
}

.event .details p.tag {
  color: rgb(122, 43, 226);
}

.event .details p svg {
  margin-right: 2%;
}

.event .more {
  float: right;
  text-decoration: underline;
}

.event .button {
  background-color: indigo;
  border: none;
  border-radius: 0;
  padding: 5% 10%;
}