.login-page {
  background-color: #F0F0F0;
  padding: 5%;
}

.welcome-section {
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.welcome-section h2 {
  margin-bottom: 10%;
}

.welcome-section p {
  margin: 0;
  font-size: 12px;
}

.welcome-section .form-wrapper {
  width: 80%;
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
}