.login-page {
  background-color: #F0F0F0;
  display: flex;
  min-height: 800px;
}

.welcome-section {
  display: block;
  margin: 175px auto auto;
  text-align: center;
}
.welcome-section h2 {
  margin-bottom: 20px;
}
.welcome-section p {
  margin: 0;
  font-size: 12px;
}
.welcome-section .form-wrapper {
  width: 275px;
  margin-top: 75px;
}