.carousel {
  background-color: white;
  margin: 3%;
}

.carousel .carousel-inner {
  margin: auto;
  padding: 10%;
  padding-bottom: 20%;
}

.carousel .carousel-inner .carousel-item .img-container {
  margin: 10%;
}

.carousel .carousel-inner .carousel-item .img-container img {
  width: 100%;
  margin: auto;
}

.carousel .carousel-indicators {
  margin: 10%;
}

.carousel .carousel-indicators li {
  background-color: white;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  border: 1px solid #1d2124;
  margin-left: 4%;
  margin-right: 4%;
}

.carousel .carousel-indicators .active {
  background-color: #1d2124;
}

.carousel .carousel-control-next {
  display: none;
}

.carousel .carousel-control-prev {
  display: none;
}