.nav{

    text-align: center;
    width:100%;
    }
    
    .turnup-nav .logo
    {
        height:75%;
    }
    .turnup-nav .profile-img {
    
    border: 1px solid transparent;
    border-color: white;
    width: 50px;
    height: 50px;
    }
    
    
    .turnup-nav {
    
    background: #402366 0% 0% no-repeat padding-box;
    height:100px;
    
    }
    
    .turnup-nav div {
        color:white;
    
    }
    
    
    .turnup-nav .links{
        margin:0 auto 0 auto;
        display:inline-flex;
    
    }
    
    .turnup-nav .links a {
        margin-left:5%;
    }
    
    .turnup-nav .toggles {
        text-align: right;
        display:inline-flex;
    }
    
    
    