.profilePicture {
    float: left;
    width: 47px;
    height: 47px;
    border-radius: 23.5px;
    margin-right: 10px;
    resize: 'contain';
    flex: 1;
}

.profileName {
    padding-top: 8px;
    font-size: 15px;
    font-weight: bold;
    line-height: 90%;
}

.profileLocation {
    font-size: 11px;
    padding-bottom: 10px;
}
.profile {
    padding-bottom: 2px;
}
.followButton {
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 2px 20px;
    font-size: 12px;
    border: none;
    text-decoration: none;
}